.tmp_pretty
.tmp_pretty_0329
build
dist
node_modules
res/**/*.png
res/**/*.jpg
res/**/*.jpeg
res/**/*.gif
res/**/*.webp
res/**/*.ico
res/**/*.mix
res/**/*.csf
res/**/*.shp
res/**/*.pal
res/**/*.wav
res/**/*.mp3
res/**/*.ttf
res/**/*.woff
res/**/*.woff2
lib/**/*.min.js
package-lock.json
